[submodule "Beam.Cli"]
	path = Beam.Cli
	url = https://github.com/Apian-Framework/Beam.Cli.git
[submodule "Apian.Net"]
	path = Apian.Net
	url = https://github.com/Apian-Framework/Apian.Net.git
[submodule "ApianAppUtils"]
	path = ApianAppUtils
	url = https://github.com/Apian-Framework/ApianAppUtils.git
[submodule "BeamGameCode"]
	path = BeamGameCode
	url = https://github.com/Apian-Framework/BeamGameCode.git
[submodule "NotUnityEngine"]
	path = NotUnityEngine
	url = https://github.com/Apian-Framework/NotUnityEngine.git
[submodule "P2pNet"]
	path = P2pNet
	url = https://github.com/Apian-Framework/P2pNet.git
[submodule "UniLog"]
	path = UniLog
	url = https://github.com/Apian-Framework/UniLog.git
[submodule "ApianCrypto"]
	path = ApianCrypto
	url = https://github.com/Apian-Framework/ApianCrypto.git
[submodule "Beam.Unity"]
	path = Beam.Unity
	url = https://github.com/Apian-Framework/Beam.Unity.git
[submodule "MqttJS-Unity"]
	path = MqttJS-Unity
	url = https://github.com/Apian-Framework/MqttJS-Unity.git
[submodule "Libp2p-Unity"]
	path = Libp2p-Unity
	url = https://github.com/Apian-Framework/Libp2p-Unity.git
