[submodule "Beam.Cli"]
	path = Beam.Cli
	url = ../Beam.Cli.git
[submodule "Apian.Net"]
	path = Apian.Net
	url = ../Apian.Net.git
[submodule "ApianAppUtils"]
	path = ApianAppUtils
	url = ../ApianAppUtils.git
[submodule "BeamGameCode"]
	path = BeamGameCode
	url = ../BeamGameCode.git
[submodule "NotUnityEngine"]
	path = NotUnityEngine
	url = ../NotUnityEngine.git
[submodule "P2pNet"]
	path = P2pNet
	url = ../P2pNet.git
[submodule "UniLog"]
	path = UniLog
	url = ../UniLog.git
[submodule "ApianCrypto"]
	path = ApianCrypto
	url = ../ApianCrypto.git
[submodule "Beam.Unity"]
	path = Beam.Unity
	url = ../Beam.Unity.git
[submodule "MqttJS-Unity"]
	path = MqttJS-Unity
	url = ../MqttJS-Unity.git
[submodule "Libp2p-Unity"]
	path = Libp2p-Unity
	url = ../Libp2p-Unity.git
